*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Pacifico ;
    font-weight: 600;
}   
body {
  background: #fff;
  color: #000;
  transition: background 0.3s, color 0.3s;
}
form{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
form input{
    margin: 0 20px;
    cursor: pointer;
    padding: 20px 42px ;
    border-radius: 17px;
    border: 0;
    outline: 0;
    background: #00a2ff;
    color: aliceblue;
    /* transition: transform 1s ease-in-out ; */
}
form input:hover{
    transform: scale(1.1);
    letter-spacing: 1.3px;
}
canvas{
    position: absolute;
    left: 35%;
    text-align: center;
    transition: transform 0.5s;
}
/* canvas:hover{
    cursor: pointer;
    font-weight: 600;
    transform: scale(1.2);
} */
form input.start {
    padding: 13px 0px;
    border-radius: 17px;
    background: #28a745;
    color: white;
    border: 0;
    outline: 0;
    /* margin-left: 20px; */
    position: absolute;
    top: 190%;
    left: 25%;
    width: 200px;
    font-size: 14px;
    transition: transform 0.8s ease-in-out !important; 
    transform: none !important;
    letter-spacing: normal !important;
}

/* Nhaydo Lhover wl Effects  L Inputs  */
form input.start:hover {
    transform: scale(1.1) !important;
    letter-spacing: 1.1px !important;
    cursor: pointer !important;
    background: #ff00cc !important;
}
/* ---------------Theme Mode ---------------- */
  .theme-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .theme-toggle input {
    display: none;
  }

  .toggle-label {
    display: inline-block;
    width: 60px;
    height: 30px;
    background: #ccc;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
  }

  .toggle-label::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    background: white;
    border-radius: 50%;
    top: 3px;
    left: 3px;
    transition: left 0.3s;
  }
  input:checked + .toggle-label {
    background: #333;
  }
  input:checked + .toggle-label::after {
    left: 33px;
  }
  input:checked ~ body {
    background: #121212;
    color: white;
  }
  body.dark-mode {
    background: #121212;
    color: white;
  }
  #span1 {
      font-size: 22px;
      background-image: none !important;
      color: #000 !important;
      position: absolute;
      bottom: 3px;
      width: 185px;
      right: 60px;
      font-weight: 700;
      padding: 5px; 
    }

    #span1 img {
      width: 30px;
      height: 30px;
      position: absolute;
      bottom: 2px;
      right: 13px;
      transition: filter 0.3s;
    }
    body.dark-mode #span1 img {
      filter: invert(100%);
   }
    body.dark-mode #span1{
      color: white !important;
    }